.contact{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $linear-gradient-opacity, url('img/model-1.jpg') center top;
    background-size: cover;

    h2{
        font-size: 3.5rem;
        color: $terceary-color;
        margin-bottom: 2rem;
    }
    
    &_icons{
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        font-size: 1.8rem;

        .icon_text{
            &:hover{
                @include transition-ease;
                color: $secondary-color;
            }
        }

    }

    .social-icons{
        @include transition-ease;
        position: initial;
        margin-top: 2rem;
    }


}