$primary-color:#0D1B2A;
$secondary-color: #1B263B;
$terceary-color: #415A77;
$forth-color:#778DA9;
$fifth-color: #E0E1DD;
$linear-gradient: linear-gradient(
        45deg, 
        hsla(211, 53%, 11%, 1) 0%, 
        hsla(212, 29%, 36%, 1) 50%,
        hsla(211, 53%, 11%, 1) 100%
     );
$linear-gradient-opacity: linear-gradient(
        45deg, 
        hsla(211, 53%, 11%, 0.5) 0%, 
        hsla(212, 29%, 36%, 0.2) 50%,
        hsla(211, 53%, 11%, 0.5) 100%
     );

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@mixin transition-ease{
    transition: all 0.8s ease-in-out;
}

@function set-text-color($color){

    @if (lightness($color) > 40%){
        @return #000;
    } @else{
        @return #fff;
    }
}

